*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {

    /* CORES */
    --brand-color-primary: #f7b733;
    --brand-color-secondary: #fc4a1a;
    --brand-gradient: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%);
    --bg-color: #09090b;
    --surface-color: #18181b;
    --stroke-color: #27272a;
    --txt-color-primary: #f4f4f5;
    --txt-color-secondary: #a1a1aa;

    /* FONTES - Mobile */
    --ff-sans: "Inter", sans-serif;
    --fs-sm: .875rem;
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 2.5rem;

    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;

    /*Tamanhos - Mobile */
    --max-width: 375px;
    --px-lg: 1.5rem;
    --py-base: 1rem;
    --py-lg: 1.5rem;
    --py-xl: 2rem;
    --py-xxl: 3rem;
    --img-size-x: 14.875rem;
    --img-size-y: 20rem;

    --display-initial: none;

}

html { 
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--txt-color-secondary);
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--txt-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04em;
}

h1 {
    font-size: var(--fs-xxl);
}

h2 {
    font-size: var(--fs-xl);
}

h3 {
    font-size: var(--fs-lg);
}

a {
    text-decoration: none;
    color: inherit;
}

ul[role="list"] {
    list-style: none;
}

ul {
    list-style: none;
}

span {
   color: var(--brand-color-primary);
   text-transform: uppercase;
   font-size: var(--fs-sm); 
}

banner-sm {
    display: block;
    color: var(--txt-color-secondary);
    font-size: .75rem;
    margin: 0;
    padding: 0;
    transform: translateY(.5rem);
}

banner-lg {
    display: block;
    color: var(--txt-color-primary);
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    transform: translateY(-.1rem);
} 