*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {

    /* CORES */
    --bg-color: #09090b;
    --surfacc-color: #18181b;
    --stroke-color: #27272a;
    --txt-color-primary: #f4f4f5;
    --txt-color-secondary: #a1a1aa;

    /* FONTES - Mobile */
    --font-family: "Inter", sans-serif;
    --fs-sm: .875rem;
    --fs-base: 1rem;
    --fs-lg: 1.25rem;
    --fs-xl: 1.5rem;
    --fs-xxl: 2.5rem;

    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;

}