h2.hero{
    font-size: var(--fs-lg);
    color: var(--txt-color-secondary);
    font-weight: var(--fw-md);
}

section.about{
    background-color: var(--surface-color) ;
}

section.hero{
        background-image: url(../background.svg);
        background-repeat: no-repeat;
        background-position: bottom;
}

/* Feature Section */

#feature {
    background-color: var(--bg-color);
}

/* PRICING SECTION */

#pricing {
    
    & li {
        position: relative;
        margin-left: 2rem;
        
    }

    & li::before{
        content: url(../icons/Check.svg);
        
        position: absolute;
        left: -2rem;
        top: 50%;
        transform: translateY(-50%);
        

    }

    & a.btn {
        width: 100%;
        text-align: center;
    }

    & zin-pricing {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: var(--txt-color-primary);

        & small {
            font-size: 1rem;
            font-weight: 400;
            color: var(--txt-color-secondary);
        }
    }

    & .wrapp {
        position: relative;

        & span.premium{
            position: absolute;
            left: 0;
            top: 0;
            padding: 0.75rem 2rem;
            border-top-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            background: var(--brand-gradient);
            font-weight: 600;
            color: var(--bg-color);
        }

        & p {
        margin-top: 1.5rem 
        }
    }

    & .recomended {
        position: relative;
        
    }

    & .recomended-bg::before {
            content: "";
            background: var(--brand-gradient);
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 1.5rem; 
            transform: scale(1.01);
    }
}

#download {

    .download-section {
        background-color: var(--surface-color);
        border-radius: 1.5rem;
        position: relative;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 240px;
    }

    .store{
        justify-content: start;
    }

    .store-btn {
        background-color: var(--bg-color);
        width: 11.125rem;
        height: 3.5rem;
        border-radius: 8px;
        border: 1px solid var(--txt-color-secondary);
        padding: .5rem .75rem;
        display: flex;
        place-items: center;
        gap: .5rem;
        align-content: center;
    }

    .listen-music {
        position: absolute;
        width: var(--img-size-x);
        height: var(--img-size-y);
        right: -50px;
        bottom: 0;
    }
}

footer {
    padding-top: var(--py-xxl);
    padding-bottom: var(--py-lg);
    padding-inline: var(--px-lg);

    .social-media {
        padding-top: 3rem;
    }
}