h2.hero{
    font-size: var(--fs-lg);
    color: var(--txt-color-secondary);
    font-weight: var(--fw-md);
}

section.about{
    background-color: var(--surface-color) ;
}

section.hero{
        background-image: url(../background.svg);
        background-repeat: no-repeat;
        background-position: bottom;
}