@media (width >= 80em) {

:root {
    /*TAMANHO DAS FONTES*/
    /* FONTES - desktop */
    --ff-sans: "Inter", sans-serif;
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-xxl: 4rem;

    /*Tamanhos - desktop */
    --max-width: 1280px;
    --px-lg: 2rem;

    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 3rem;
    --py-xxl: 5rem;

    --display-initial: initial;
    }
    
    .desktop-only {
        display: var(--display-initial);
    }

    .hero-img {
        width: 25.75rem;
        height: 6.5rem;
    }

    section.hero {
        padding: 5rem 10.25rem 14.9375rem;
    }

}