@media (width >= 80em) {

:root {
    /*TAMANHO DAS FONTES*/
    /* FONTES - desktop */
    --ff-sans: "Inter", sans-serif;
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-xxl: 4rem;

    /*Tamanhos - desktop */
    --max-width: 1280px;
    --px-lg: 2rem;

    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 3rem;
    --py-xxl: 5rem;

    --display-initial: initial;
    }
    
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: var(--display-initial);
    }

    .hero-img {
        width: 25.75rem;
        height: 6.5rem;
    }

    section.hero {
        padding: 5rem 10.25rem 13rem;
        background-image: url(../background.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .desktop-only .img-mockup {
        width: 34rem;
        height: 34.875rem;
    }

    .feature {
        grid-template-areas: 
        "A B B C"
        "D D E E";

        & .wrapp {
            height: 25rem;
            overflow: hidden;

            & img.mockup {
                width: 15rem;
                transform: translateY(-9rem);
                filter: drop-shadow(1rem 1rem 1rem black);
            }
            
            & img.mockup-bottom {
                width: 15rem;
                transform: translateY(.95rem);
                filter: drop-shadow(1rem 1rem 1rem black);
            }
        }

            & .wrapp.A{
                grid-area: A;
            }

            
            & .wrapp.B{
                grid-area: B;
            }

            
            & .wrapp.C{
                grid-area: C;
            }

            
            & .wrapp.D{
                grid-area: D;
            }

            
            & .wrapp.E{
                grid-area: E;
            }
    }

}